@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<rw-horizontal>
  <rw-col>
    <button class="rw primary block">Primary</button>
  </rw-col>
  <rw-col>
    <button class="rw secondary block">Secondary</button>
  </rw-col>
  <rw-col>
    <button class="rw success block">Success</button>
  </rw-col>
  <rw-col>
    <button class="rw warning block">Warning</button>
  </rw-col>
  <rw-col>
    <button class="rw danger block">Danger</button>
  </rw-col>
  <rw-col>
    <button-group-vertical>
      <button class="rw disabled" disabled>disabled</button>
      <button class="rw disabled primary" disabled>disabled</button>
      <button class="rw disabled secondary" disabled>disabled</button>
      <button class="rw disabled success" disabled>disabled</button>
      <button class="rw disabled warning" disabled>disabled</button>
      <button class="rw disabled danger" disabled>disabled</button>
    </button-group-vertical>
  </rw-col>
  <rw-col>
    <button-group-vertical>
      <button class="rw loading">loading</button>
      <button class="rw loading primary">loading</button>
      <button class="rw loading secondary">loading</button>
      <button class="rw loading success">loading</button>
      <button class="rw loading warning">loading</button>
      <button class="rw loading danger">loading</button>
    </button-group-vertical>
  </rw-col>
  <rw-col>
    <button-group-vertical>
      <button class="rw loading-bar">Progress</button>
      <button class="rw loading-bar primary">Progress</button>
      <button class="rw loading-bar secondary">Progress</button>
      <button class="rw loading-bar success">Progress</button>
      <button class="rw loading-bar warning">Progress</button>
      <button class="rw loading-bar danger">Progress</button>
    </button-group-vertical>
  </rw-col>

</rw-horizontal>
<div>
    <rw-float-left>Yolo</rw-float-left>
    <rw-float-right>Swag</rw-float-right>
</div>

<br/> <br/>

@*Même chose mais en bulma*@

<rw-horizontal>
  <rw-col>
    <button class="rw primary block">Primary</button>
  </rw-col>
  <rw-col>
    <button class="rw secondary block">Secondary</button>
  </rw-col>
  <rw-col>
    <button class="rw success block">Success</button>
  </rw-col>
  <rw-col>
    <button class="rw warning block">Warning</button>
  </rw-col>
  <rw-col>
    <button class="rw danger block">Danger</button>
  </rw-col>
  <rw-col>
    <button class="rw disabled block" disabled>Disabled</button>
  </rw-col>
  <rw-col>
    <button-group-vertical>
      <button class="rw loading">loading</button>
      <button class="rw loading primary">loading</button>
      <button class="rw loading secondary">loading</button>
      <button class="rw loading success">loading</button>
      <button class="rw loading warning">loading</button>
      <button class="rw loading danger">loading</button>
    </button-group-vertical>
  </rw-col>
  <rw-col>
    <button-group-vertical>
      <button class="rw loading-bar danger">Progress</button>
      <button class="rw loading-bar primary">Progress</button>
      <button class="rw loading-bar secondary">Progress</button>
      <button class="rw loading-bar success">Progress</button>
      <button class="rw loading-bar warning">Progress</button>
      <button class="rw loading-bar danger">Progress</button>
    </button-group-vertical>
  </rw-col>

</rw-horizontal>